<nav class="navbar navbar-expand-lg navbar navbar-dark bg-danger">
<a class="navbar-brand" routerLink="/ss_administrator"> <span class="sr-only">Administrator</span></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/register_employee">Register Employee</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/onboarder">Delete Onboarder</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/assign_equipment">Assign Equipment</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/crud_faq">CRUD FAQ</a>
     </li>
     <li class="nav-item">
     <a class="nav-link" routerLink="/import_employee">Import Employee</a>
   </li>
  </ul>
</div>
</nav>

<div class="AddEmployeeTitleContainer">
<div class="addEmployeeTitleContainer">
  <div>
    FAQ
  </div>
  <br/>
  <div class="btn btn-primary" (click)="addNewFAQBtn()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
    </svg>
  </div>
  <div class="btn btn-link" (click)="testData()">Populate Data</div>
  <p></p>
</div>
<div class="addEmployeeBtnContainer">
</div>
</div>

<br/>

<div *ngIf="newFAQClicked">
<div class="formWrapper">
<form>
  <div class="form-group name">
    <input type="text"
           class="form-control input"
           id="question"
           name="question"
           [(ngModel)]="model.Faqdescription"
           placeholder="Question">
  </div>
   <div class="form-group position">
    <input type="text"
           class="form-control positionInput"
           id="answer"
           name="answer"
           [(ngModel)]="model.Faqanswer"
           placeholder="answer">
  </div>
  <div class="submitBtnContainer">
    <button type="submit" class="btn btn-success" (click)="addFAQ()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
      </svg>
    SAVE
    </button>
  </div>
</form>
</div>
</div>

<div class="tableWrapper">
<table class="table table-striped">
<thead>
  <tr>
    <th class="col-2">ID</th>
    <th class="col-4">Question</th>
    <th class="col-4">Answer</th>
    <th class="col-2">Action</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let item of faq; let i = index">
    <td>{{item.faqid}}</td>
    <td>{{item.faqdescription}}</td>
    <td>{{item.Faqanswer}}</td>
    <td>
    <button class="btn btn-primary" (click)="editFAQ(i)">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
      </svg>
    </button>
    <button class="btn btn-danger" (click)="deleteFAQ(item.faqid)">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
      <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
      </svg>
    </button>
    </td>
  </tr>
</tbody>
</table>
</div>

<div class="editEmployeeTitleContainer">
<div class="">Update FAQ</div>
</div>

<form>

<div class="form-group name">
  <input type="text"
         class="form-control"
         id="question"
         name="question"
         [(ngModel)]="model2.Faqdescription"
         placeholder="Question">
</div>

 <div class="form-group position">
  <input type="text"
         class="form-control"
         id="answer"
         name="answer"
         [(ngModel)]="model2.Faqanswer"
         placeholder="Answer">
</div>

<button class="btn btn-success" type="submit" (click)="updateFAQ()">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
  </svg>
  Update
</button>
</form>
