<nav class="navbar navbar-expand-lg navbar navbar-dark bg-success">
<a class="navbar-brand" routerLink="/ss_course"> <span class="sr-only">Course</span></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/course">Course Center</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/assign_course">Assign Course</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#">Generate Course Progress Report</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" routerLink="/crud_achievement">CRUD-Achievement Type</a>
    </li>
  </ul>
</div>
</nav>

<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://assets.mixkit.co/videos/preview/mixkit-father-teaching-daughter-to-play-golf-2036-large.mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">Course</h1>
      </div>
    </div>
  </div>
  </header>