.bg-1 { 
    background-color: #1abc9c;
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #474e5d;
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #ffffff;
    color: #555555;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  
  header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }
  
  .containerTitle {
    display:flex;
    margin-top:20px;
    font-size:12px;
    font-weight:bold;
  }
  
  .AddEmployeeTitleContainer {
    display:flex;
  }
  
  .one {
    flex:1;
    padding:10px;
  }
  
  .addEmployeeBtnContainer {
    flex:1;
    background:#f6f6f6;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
  }
  
  .tableWrapper {
    margin-top:20px;
    padding:20px;
    background:#f6f6f6;
  }
  
  .addNewEmployeeBtn {
    width:30px;
    height:30px;
    text-align:center;
    line-height:28px;
    color:#ffffff;
    border-radius:5px;
    background:green;
    margin-top:18px;
    cursor:pointer;
    margin-bottom:20px;
  }
  
  .addEmployeeTitleContainer {
    /* flex:1; */
    /* background:red; */
    background:#f6f6f6;
    padding:20px 20px 0px 20px;
    font-size:22px;
    font-weight:bold;
    font-style:italic;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
  }
  
  .editEmployeeTitleContainer {
    background:#f6f6f6;
    padding:20px 20px 0px 20px;
    font-size:22px;
    font-weight:bold;
    font-style:italic;
    border-top-left-radius:10px;
  }
  
  
  .oneTitle {
    flex:1;
    padding:10px;
    background:#444444;
    color:#ffffff;
  }
  
  .name {
    padding:0px 15px 15px 20px;
    background:#f6f6f6;
  }
  
  .position {  
    background:#f6f6f6;
    padding:0px 15px 15px 20px;
  }
  
  .inputPosition {
  }
  
  .input {
    border:none;
    height:32px;
    padding-left:10px;
    width:60%;
    border-radius:5px;
  }
  
  .positionInput {
    border:none;
    height:32px;
    padding-left:10px;
    width:60%;
    border-radius:5px;
  }
  
  .saveBtn {
    background:green;
    color:#ffffff;
    border:none;
    width:70px;
    height:32px;
    cursor:pointer;
    border-radius:3px;
  }
  
  ::placeholder {
    /* padding-left:10px; */
  }
  
  .submitBtnContainer {
    background:#f6f6f6;
    padding:0px 0px 20px 20px;
  }
  
  .two {
    flex:1;
    padding:10px;
  }
  
  .twoTitle {
    flex:1;
    padding:10px;
    background:#444444;
    color:#ffffff;
  }
  
  .three {
    flex:1;
    padding:10px;
  }
  
  .threeTitle {
    flex:1;
    padding:10px;
    background:#444444;
    color:#ffffff;
  }
  
  .containerListItems {
    display:flex;
  }
  
  