<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
<a class="navbar-brand" routerLink="/ss_equipment"> <span class="sr-only">Equipment</span></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/equipment">Equipment</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" routerLink="/my_equipment">My Equipment</a>
  </ul>
</div>
</nav>

<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://assets.mixkit.co/videos/preview/mixkit-browsing-the-web-on-a-tablet-at-night-14735-large.mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">Equipment</h1>
      </div>
    </div>
  </div>
  </header>