<center>
<h1 text="center">Booking</h1>
<p text="center">Make a booking with an Administrator</p>
</center>

<script 
type="text/javascript" 
src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.5.14/iframeResizer.min.js"></script>
<iframe src="https://hello.dubsado.com:443/public/appointment-scheduler/6140b76d2b10f21434ca61ae/schedule?isIframe=true" 
frameborder="0" style="width:1px; min-width:100%; min-height:600px;"></iframe><script type="text/javascript">setTimeout(function(){iFrameResize({checkOrigin: false, heightCalculationMethod: "taggedElement"});}, 30)</script>