<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <h4 class="card-header">Reset Password</h4>
        <div class="card-body">

            <div class="form-group ">
    <input type="text"
           class="form-control positionInput"
           id="check_out"
           name="username"
           [(ngModel)]="model.username"
           placeholder="Username">
  </div>

  <div class="">
    <button type="submit" class="btn btn-success" (click)="Submit()">Submit</button>
    <a routerLink="/login">Login</a>
  </div>

        </div>
    </div>
</div>            